{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('request.list') }}">К списку</a>
    <h1>Запрос : {{ requst.title }}</h1>
    <div>
        <table width="100%" border="1">
            <thead>

            </thead>
            <tbody>
                <tr>
                    <td>Сообщение</td>
                    <td>{{ requst.message }}</td>
                </tr>
                <tr>
                    <td>Статус</td>
                    <td>{{ requst.status }}</td>
                </tr>
                <tr>
                    <td>Дата создания</td>
                    <td>{{ requst.createAt.format('Y.m.d H:i:s') }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}